*{
    margin: 0px;
    padding: 0;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvas{
    display: grid;
    width: 600px;
    height: 600px;

    box-shadow: 1px 1px 20px;
    margin: 15px;
}

button{
    padding: 5px;
    border-radius: 4px;
}

body{
    margin-top: 10px;
}

.random-color{
    background: linear-gradient(0deg, blue, green 40%, red);
    color: white;
    font-weight: bold;
}

.black-color{
    background: black;
    color: white;
    font-weight: bold;
}

.eraser{
    background: white;
    font-weight: bold;
}

.gray{
    background: gray;
    color: white;
    font-weight: bold;
}


.size{
    display: flex;
    margin-top: 5px;
    gap: 5px;
}

.mode{
    font-weight: bold;
}

.down-buttons{
    display: flex;
    gap: 5px;
}